{% extends 'base.html.twig' %}

{% block title %}UnitOfMeasure index{% endblock %}

{% block body %}
    <h1>UnitOfMeasure index</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Shortcut</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for unit_of_measure in unit_of_measures %}
            <tr>
                <td>{{ unit_of_measure.name }}</td>
                <td>{{ unit_of_measure.shortcut }}</td>
                <td>
                    <a href="{{ path('unit_of_measure_show', {'id': unit_of_measure.id}) }}">show</a>
                    <a href="{{ path('unit_of_measure_edit', {'id': unit_of_measure.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('unit_of_measure_new') }}">Create new</a>
    <a class="btn btn-dark" href="{{ path('homepage') }}">Back to /</a>
{% endblock %}
